header{
    background-color: var(--color-black);
    padding: 0 30px;
    font-size: 20px;
    position: sticky;
    z-index: 200;
    top: 0;
}

.header-top > img{
    width:200px;
}

.header-top{
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-contacts{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top-contacts > a{
    color: var(--color-blue);
    margin: 0 30px;
    text-decoration: none;
}

.header-top-contacts-button{
    background-color: var(--color-blue);
    color:white;
    font-weight: 600;
    padding: 10px 30px;
    cursor: pointer;
}

.header-nav > ul{
    list-style: none;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 20px solid var(--color-green);
    padding: 10px 0;
}

.header-nav a{
    cursor: pointer;
    text-decoration: none;
    color: var(--color-green);
    transition: color 0.2s ease-in-out;

}

.header-nav a:hover{
 color: var(--color-white)
}

.header-nav-li-after {
    position: relative;
    padding-bottom: 5px;
}

.header-nav-li-after > a:hover{
    color: var(--color-green)
}

.header-nav-li-after > a::after{
    content: "▼";
    display: inline-block;
    font-size: 8px;
    margin-left: 5px;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
}

.header-nav-li-after:hover a::after{
    transform: rotate(180deg);
}

.header-nav-menu{
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    /* top: calc(100% + 5px); */
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    background-color: var(--color-white);
    z-index: 100;
    border-radius: 0 0 5px 5px;
    padding: 20px 20px 0 20px;
}

.header-nav-li-after:hover .header-nav-menu{
    display: block;
}

.header-nav-menu a {
    color: var(--color-black);
    font-size: 18px;
    display: inline-block;
    /* padding: 10px; */
    margin-bottom: 20px;
    position: relative;
}

.header-nav-menu a::before {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 1px;
    background-color: var(--color-blue);
    opacity: 0;
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out; 
}

.header-nav-menu a:hover::before {
    opacity: 1; 
    transform: translateY(2px);
}

.header-nav-menu a:hover {
    color: var(--color-blue);
}


.header-nav-menu::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--color-white);
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

/*///tester/////*/
.header-top-hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 45px;
  height: 37.5px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.header-top-line {
  display: block;
  width: 100%;
  height: 4.5px;
  background-color: var(--color-green);
  /* border-radius: 4.5px; */
  transition: all 0.3s ease;
}

.header-top-line-top {
  transform: translateY(0);
}

.header-top-line-middle {
  position: relative;
  background-color: var(--color-green);
}

.header-top-line-bottom {
  transform: translateY(0);
}

.header-top-line-middle::before,
.header-top-line-middle::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-green);
  /* border-radius: 4.5px; */
  transition: transform 0.3s ease;
}

.header-top-line-middle::before {
  transform: rotate(0deg);
}

.header-top-line-middle::after {
  transform: rotate(0deg);
}

.header-top-hamburger-menu.open .header-top-line-top {
  transform: translateY(16.5px);
  opacity: 0;
}

.header-top-hamburger-menu.open .header-top-line-bottom {
  transform: translateY(-16.5px);
  opacity: 0;
}

.header-top-hamburger-menu.open .header-top-line-middle {
  background-color: transparent;
}

.header-top-hamburger-menu.open .header-top-line-middle::before {
  transform: rotate(45deg);
}

.header-top-hamburger-menu.open .header-top-line-middle::after {
  transform: rotate(-45deg);
}

@media (max-width: 980px) {
  .header-nav, .header-top-contacts{
    display: none;
  }

  .header-nav-mobile, .header-top-contacts-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-nav > ul {
    flex-direction: column;
    border-bottom: none;
  }

  .header-nav-mobile li{
    margin: 20px 0;
    /* color: red; */
  }

  .header-top-contacts-mobile > *{
    margin:20px ;
  }

  .header-top-hamburger-menu{
    display: flex;
  }

  header{
    position: static;
  }

  /* .header-nav-menu{
    position: relative;
  } */

  /* .header-nav-li-after{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  } */
}