@font-face {
    font-family: 'Circe Light';
    src:url('./fonts/Circe-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

* {
	padding: 0px;
	margin: 0px;
	border: none;
  font-family: 'Circe Light';
}

:root {
  --color-white: #ffffff;
  --color-blue: #3bb1ff;
  --color-green: #95c940;
  --color-purple: #A8328E;
  --color-black: #17191f;
}

/* .App{
  background: linear-gradient(to top right, var(--color-purple), var(--color-blue));
  padding: 300px ;
} */